<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="UserBankMapper" >
  <!-- <resultType id="BaseresultType" type="com.ecochain.ledger.model.PageData" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="user_id" jdbcType="INTEGER" />
    <result column="bank_no" property="bank_no" jdbcType="VARCHAR" />
    <result column="bank_name" property="bank_name" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
  </resultType> -->
  <sql id="Base_Column_List" >
    id, user_id, bank_no, bank_name, create_time, update_time
  </sql>
  <select id="selectById" resultType="com.ecochain.ledger.model.PageData" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_bank
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from user_bank
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecochain.ledger.model.PageData" >
    insert into user_bank (user_id, bank_no, 
      bank_name, create_time
      )
    values (#{user_id}, #{bank_no,jdbcType=VARCHAR}, 
      #{bank_name,jdbcType=VARCHAR}, now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecochain.ledger.model.PageData" >
    insert into user_bank
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        user_id,
      </if>
      <if test="bank_no != null" >
        bank_no,
      </if>
      <if test="bank_name != null" >
        bank_name,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_id != null" >
        #{user_id},
      </if>
      <if test="bank_no != null" >
        #{bank_no,jdbcType=VARCHAR},
      </if>
      <if test="bank_name != null" >
        #{bank_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        now(),
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.ecochain.ledger.model.PageData" >
    update user_bank
    <set >
      <if test="user_id != null" >
        user_id = #{user_id,jdbcType=INTEGER},
      </if>
      <if test="bank_no != null" >
        bank_no = #{bank_no,jdbcType=VARCHAR},
      </if>
      <if test="bank_name != null" >
        bank_name = #{bank_name,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateById" parameterType="com.ecochain.ledger.model.PageData" >
    update user_bank
    set user_id = #{user_id},
      bank_no = #{bank_no,jdbcType=VARCHAR},
      bank_name = #{bank_name,jdbcType=VARCHAR},
      create_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getBankList" parameterType="java.lang.Integer" resultType="com.ecochain.ledger.model.PageData">
    select bank_name,right(bank_no,4)bank_no from user_bank where user_id = #{user_id}
  </select>
  
  <update id="setDefault" parameterType="com.ecochain.ledger.model.PageData">
        update user_bank set is_default = 1 where user_id = #{user_id} and id = #{id}
  </update>
  <update id="cancelDefault" parameterType="com.ecochain.ledger.model.PageData">
        update user_bank set is_default = 0 where user_id = #{user_id}
  </update>
  <select id="isExist" parameterType="com.ecochain.ledger.model.PageData" resultType="java.lang.Integer">
    select count(1) from user_bank where bank_no = #{bank_no} and user_id = #{user_id}
  </select>
</mapper>