<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ecochain.ledger.mapper.UsersDetailsMapper" >
  <resultMap id="BaseResultMap" type="com.ecochain.ledger.model.UsersDetails" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="grade_id" property="gradeId" jdbcType="SMALLINT" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="reg_time" property="regTime" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="parent_usercode" property="parentUsercode" jdbcType="CHAR" />
    <result column="usercode" property="usercode" jdbcType="CHAR" />
    <result column="alias" property="alias" jdbcType="VARCHAR" />
    <result column="mobile_phone" property="mobilePhone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="rcode" property="rcode" jdbcType="VARCHAR" />
    <result column="idno" property="idno" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_img, email, user_name, grade_id, reg_time, salt, parent_usercode,user_type, 
    usercode, alias, mobile_phone, rcode,pay_rcode,public_key,address,seeds
  </sql>
  <select id="selectById" resultType="com.ecochain.ledger.model.PageData" parameterType="java.lang.Integer" >
    select 
    a.id, a.user_img, a.email, a.user_name, a.grade_id, a.reg_time, a.salt, a.parent_usercode,a.user_type, 
    a.usercode, a.alias, a.mobile_phone, a.rcode,a.pay_rcode,b.account,a.public_key,a.address,a.seeds
    
    from users_details a,user_login b
    where 1=1
    and a.id = b.user_id
    and a.id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectUserType" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select user_type
    from users_details
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer" >
    delete from users_details
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecochain.ledger.model.PageData" useGeneratedKeys="true" keyProperty="user_id">
    insert into users_details (user_img, email, 
      user_name, grade_id, reg_time, salt, 
      parent_usercode, usercode, alias, 
      mobile_phone, rcode,user_type
      )
    values (#{user_img,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{user_name,jdbcType=VARCHAR}, #{grade_id,jdbcType=SMALLINT}, now(), #{salt,jdbcType=VARCHAR}, 
      #{parent_usercode,jdbcType=CHAR}, #{usercode,jdbcType=CHAR}, #{alias,jdbcType=VARCHAR}, 
      #{mobile_phone,jdbcType=VARCHAR}, #{rcode,jdbcType=VARCHAR},#{user_type,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecochain.ledger.model.PageData" useGeneratedKeys="true" keyProperty="user_id">
    insert into users_details
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user_img != null" >
        user_img,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="user_name != null" >
        user_name,
      </if>
      <if test="grade_id != null" >
        grade_id,
      </if>
        reg_time,
      <if test="salt != null" >
        salt,
      </if>
      <if test="parent_usercode != null" >
        parent_usercode,
      </if>
      <if test="usercode != null" >
        usercode,
      </if>
      <if test="alias != null" >
        alias,
      </if>
      <if test="mobile_phone != null" >
        mobile_phone,
      </if>
      <if test="rcode != null" >
        rcode,
      </if>
      <if test="user_type != null" >
        user_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user_img != null" >
        #{user_img,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null" >
        #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="grade_id != null" >
        #{grade_id,jdbcType=SMALLINT},
      </if>
        now(),
      <if test="salt != null" >
        #{salt,jdbcType=VARCHAR},
      </if>
      <if test="parent_usercode != null" >
        #{parent_usercode,jdbcType=CHAR},
      </if>
      <if test="usercode != null" >
        #{usercode,jdbcType=CHAR},
      </if>
      <if test="alias != null" >
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="mobile_phone != null" >
        #{mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="rcode != null" >
        #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="user_type != null" >
        #{user_type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByIdSelective" parameterType="com.ecochain.ledger.model.PageData" >
    update users_details
    <set >
      <if test="user_img != null" >
        user_img = #{user_img,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="user_name != null" >
        user_name = #{user_name,jdbcType=VARCHAR},
      </if>
      <if test="grade_id != null" >
        grade_id = #{grade_id,jdbcType=SMALLINT},
      </if>
      <if test="salt != null" >
        salt = #{salt,jdbcType=VARCHAR},
      </if>
      <if test="parent_usercode != null" >
        parent_usercode = #{parent_usercode,jdbcType=CHAR},
      </if>
      <if test="usercode != null" >
        usercode = #{usercode,jdbcType=CHAR},
      </if>
      <if test="alias != null" >
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="mobile_phone != null" >
        mobile_phone = #{mobile_phone,jdbcType=VARCHAR},
      </if>
      <if test="rcode != null" >
        rcode = #{rcode,jdbcType=VARCHAR},
      </if>
      <if test="user_type != null" >
        user_type = #{user_type,jdbcType=VARCHAR},
      </if>
      <if test="seeds != null" >
        seeds = #{seeds,jdbcType=VARCHAR},
      </if>
      <if test="public_key != null" >
        public_key = #{public_key,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id}
  </update>
  <update id="updateById" parameterType="com.ecochain.ledger.model.PageData" >
    update users_details
    set user_img = #{user_img,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      user_name = #{user_name,jdbcType=VARCHAR},
      grade_id = #{grade_id,jdbcType=SMALLINT},
      salt = #{salt,jdbcType=VARCHAR},
      parent_usercode = #{parent_usercode,jdbcType=CHAR},
      usercode = #{usercode,jdbcType=CHAR},
      alias = #{alias,jdbcType=VARCHAR},
      mobile_phone = #{mobile_phone,jdbcType=VARCHAR},
      rcode = #{rcode,jdbcType=VARCHAR},
      user_type = #{user_type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findIsExist" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from users_details where mobile_phone = #{mobile_phone}
  </select>
  <select id="findIsExistByUserCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from users_details where usercode = #{usercode}
  </select>
  
  <select id="findbyUserCode" parameterType="java.lang.String" resultType="com.ecochain.ledger.model.PageData">
    select * from users_details where usercode = #{usercode}
  </select>
  <select id="findbyPhone" parameterType="java.lang.String" resultType="com.ecochain.ledger.model.PageData">
    select a.*,b.account from users_details a,user_login b where a.id = b.user_id and  b.account = #{mobile_phone}
  </select>
  <update id="modifyPhone" parameterType="com.ecochain.ledger.model.PageData">
    update users_details
    set
        mobile_phone = #{phone}
    where 
        mobile_phone = #{oldPhone}
  </update>
  <update id="realName" parameterType="com.ecochain.ledger.model.PageData">
    update users_details
    set
        user_name = #{user_name},
        idno = #{idno}
    where 
        id = #{user_id}
  </update>
  <select id="getUserInfo" parameterType="java.lang.Integer" resultType="com.ecochain.ledger.model.PageData">
    select a.id,a.public_key,a.address,a.seeds,round(b.future_currency,2)future_currency,CONCAT(LEFT(c.account,3),'*****',RIGHT(c.account,3))account,a.user_type
    from 
        users_details a JOIN user_wallet b  ON a.id = b.user_id  
        JOIN user_login c on a.id = c.user_id 
    where 1=1
    and a.id = #{user_id}
  </select>
 <!--  查询我的推介 -->
<!--  <select id="listPageMyRef" parameterType="page" resultType="com.ecochain.ledger.model.PageData">
    select 
    case when c.account REGEXP "^[1][35678][0-9]{9}$" THEN CONCAT(substring(c.account,1,3),'*****',substring(c.account,9,11)) WHEN CHAR_LENGTH(c.account)>5 THEN CONCAT(substring(c.account,1,5),'...') ELSE c.account END account, 
    case when c.account REGEXP "^[1][35678][0-9]{9}$" THEN CONCAT(substring(c.account,1,3),'*****',substring(c.account,9,11)) WHEN CHAR_LENGTH(c.account)>5 THEN CONCAT(substring(c.account,1,5),'...') ELSE c.account END mobile_phone, 
    (case when a.user_type = '1' then '普通会员' when a.user_type = '2' then '创业会员' when a.user_type = '3' then '店铺' when a.user_type = '4' then '供应商' when a.user_type = '5' then '代理商' end) user_type, 
    (case when b.rela_level = 'A' then '一级' when b.rela_level = 'B' then '二级' when b.rela_level = 'C' then '三级' end) level, 
    substring(a.reg_time,1,19)reg_time 
    from users_details a,user_friendship b,user_login c
	where 1=1
	and b.recomuser_id = a.id
	and a.id = c.user_id
	and b.user_id = #{pd.user_id}
	<if test="pd.startTime != null and pd.startTime !=''" >
      and  a.reg_time &gt;= #{pd.startTime}
    </if>
	<if test="pd.endTime != null and pd.endTime !=''" >
       and date(a.reg_time) &lt;= #{pd.endTime}
    </if>
   <if test="pd.search_date == 'day'" >
      and   date(a.reg_time) = date(now())
    </if>
    <if test="pd.search_date == 'week'" >
      and   a.reg_time between date_sub(now(),interval 1 week) and now()
    </if>
    <if test="pd.search_date == 'month'" >
      and   a.reg_time between date_sub(now(),interval 1 month) and now()
    </if>
    <if test="pd.rela_level != null and pd.rela_level != ''" >
      and   b.rela_level = #{pd.rela_level}
    </if>
    <if test="pd.user_type != null and pd.user_type != ''" >
      and   a.user_type = #{pd.user_type}
    </if>
    <if test="pd.user_name != null and pd.user_name != ''" >
      and   a.user_name = #{pd.user_name}
    </if>
    <if test="pd.account != null and pd.account != ''" >
      and   c.account like concat('%', #{pd.account}, '%')  
    </if>
   order by a.reg_time desc
 </select> -->
<!--  我的推介的一级、二级、三级数量 -->
 <!-- <select id="getMyRefNum" parameterType="java.lang.Integer" resultType="pd">
    select 
        sum(tt)  tNum,
        sum(lva) aNum,
        sum(lvb) bNum,
        sum(lvc) cNum
        from 
        (select 
        1 as tt,
        case when rela_level='A' then 1 else 0 end as lva,
        case when rela_level='B' then 1 else 0 end as lvb,
        case when rela_level='C' then 1 else 0 end as lvc
         from user_friendship 
        where user_id =#{user_id}) a 
  </select> -->
  <update id="updateUserTypeByUserId" parameterType="com.ecochain.ledger.model.PageData">
    update users_details
    set user_type = #{upgrade_type}
    where id = #{user_id}
  </update>
  <!--更新图片 -->
  <update id="updatePicByUserId" parameterType="com.ecochain.ledger.model.PageData">
    update users_details
    <set >
      <if test="user_img != null" >
        user_img = #{user_img,jdbcType=VARCHAR},
      </if>
      <if test="rcode != null" >
        rcode = #{rcode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{user_id}
  </update>
<!--   判断是否拥有邀请码 -->
  <select id="isHasUserCode" parameterType="java.lang.Integer" resultType="java.lang.Integer">
    select count(1) from users_details where 1=1
	and id = #{user_id}
	and (usercode is null or usercode = '' or usercode ='0' )
  </select>
<!--   更新邀请码 -->
  <update id="updateUserCode" parameterType="com.ecochain.ledger.model.PageData">
    update users_details
    <set >
      <if test="usercode != null" >
        usercode = #{usercode},
      </if>
      <if test="rcode != null" >
        rcode = #{rcode},
      </if>
      <if test="pay_rcode != null" >
        pay_rcode = #{pay_rcode},
      </if>
    </set>
    where 1=1
    and id = #{id}
  </update>
  <update id="bindPhone" parameterType="com.ecochain.ledger.model.PageData" >
    update users_details set mobile_phone = #{phone} where id = #{user_id}
  </update>
  <select id="getPhoneByAccount" parameterType="java.lang.String" resultType="com.ecochain.ledger.model.PageData">
        select user_type,mobile_phone from users_details a,user_login b where a.id = b.user_id and b.account = #{account} 
  </select>
  <select id="getPhoneListByUserType" parameterType="java.lang.String" resultType="java.lang.String">
     select mobile_phone from users_details where user_type in 
     <foreach collection="user_type_list" index="index" item="item" open="(" separator="," close=")">  
          #{item}   
    </foreach>
  </select>
    <!--按地区查询手机号列表 -->
  <select id="getPhoneListByArea" parameterType="com.ecochain.ledger.model.PageData" resultType="java.lang.String">
        select a.mobile_phone from users_details a,mobile_attribution b
		where 1=1
		and substring(a.mobile_phone,1,7) = b.mobile_num
        and b.mobile_area like concat('%', #{province}, '%')
		<if test="city != null and city != ''"  >
           and b.mobile_area like concat('%', #{city}, '%')
        </if>
  </select>
   <select id="getUserInfoByUserId" parameterType="java.lang.Integer" resultType="com.ecochain.ledger.model.PageData">
      select b.user_id,b.account,a.email,a.public_key,a.address,a.seeds,a.user_type,a.id,a.mobile_phone from users_details a,user_login b 
      where 1=1
      and a.id = b.user_id
      and a.id = #{user_id}
  </select>
  <select id="listPageUsers" parameterType="com.ecochain.ledger.model.PageData" resultType="com.ecochain.ledger.model.PageData">
      select * from users_details 
  </select>
  <select id="getUserInfoByAccount" parameterType="java.lang.String" resultType="com.ecochain.ledger.model.PageData">
      select b.user_id,b.account,a.email,a.public_key,a.address,a.seeds,a.user_type,a.id,a.mobile_phone
      from users_details a ,user_login b where a.id = b.user_id and b.account = #{account}
  </select>
</mapper>